<#macro widget categories>
<div class="card mb-4">
    <div class="card-header">Категории</div>
    <div class="card-body">
        <div class="row">
        <#list categories?chunk(3) as row>
            <div class="col-sm-6">
                <ul class="list-unstyled">
                <#list row as category>
                    <li><a href="/?category=${category.name}">${category.name}</a></li>
                </#list>
                </ul>
            </div>
        </#list>
        </div>
    </div>
</div>
</#macro>